<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        
	<bean id="wish1" class="com.ibm.springcoredemo.beans.Greetings" init-method="initGreet" destroy-method="destroyGreet">
		<property name="message" value="Good Morning" />
	</bean>
	
	<bean id="per1" class="com.ibm.springcoredemo.beans.Person">
		<property name="ssn" value="7001" />
		<property name="name" value="Souvik Pal" />
		<property name="address" ref="add2" />
	</bean>
	
	<!-- <bean class="com.ibm.springcoredemo.pp.MyPostProcessor" />	 -->
	
</beans>
	
<!-- lazy-init="true" will not throw any Bean until getBean is called -->

<!-- scope="prototype" will not throw any Bean until getBean is called 
& it helps in creating of more than one Bean -->

<!-- destroy-method will not be called if scope="prototype" -->